body {
	font-family: 'Source Sans Pro', sans-serif;
}
html, body {
	margin: 0;
	overflow: hidden;
}
#map,#map1 {
	width: 100%;
	height: 100vh;
	position: relative;
}
#map{
}
.custom-popup {
	width: 275px;
	padding: 8px;
}
.leaflet-popup-content {
	margin: 0;
	min-width: 250px;
	width:auto !important;
	/*width:291px !important;*/
}
.leaflet-popup-content-wrapper {
	border-radius: 4px;
}
.text-error {
	color: #FF0000;
}
.img {
	position: relative;
}
.tags {
	position: absolute;
	right: 10px;
	top: 10px;
}
.tags .fas {
	margin-left: 10px;
}
.tags .fas {
	width: 36px;
	height: 36px;
	color: #fff;
	font-size: 16px;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	display: inline-block;
}
.tags .fa-key {
	background-color: #f53435;
}
.tags .fa-home {
	background-color: #93da4c;
}
.custom-popup h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: #484d60;
	margin: 8px 0;
    line-height: 24px;
    margin-left: 8px;
}
.custom-popup .location {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ababab;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 13px;
	margin-left: 8px;
}
.custom-popup .location .fas {
	color: #de0000;
	margin-right: 7px;
}
.custom-popup .btn {
	font-family: 'Source Sans Pro', sans-serif;
	border: 1px solid #de0000;
	color: #de0000;
	text-decoration: none;
	border-radius: 20px;
	padding: 8px 18px;
	font-weight: 600;
	display: inline-block;
}
.custom-popup .btn:hover {
	background-color: #de0000;
	color: #fff;
}
.leaflet-container a.leaflet-popup-close-button {
	font-size: 12px;
    top: -5px;
    right: -5px;
}

body{
	padding-top: 77px;
}
.info { 
	padding: 6px 6px; 
	font: 14px/16px Arial, Helvetica, sans-serif; 
	background: white; background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px;
	}
	.info h4 { margin: 0 0 5px; color: #777; }

.loader{
	position: absolute;
	background: url('../img/loader.gif');
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 120px;
	height: 120px;
	background-size: cover;
	z-index: 2;
}
.tabs{
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
}
.tabs li{
	flex-basis: 50%;
	display: inline-flex;
	list-style: none;
	flex-grow: 1;
    align-items: center;
    justify-content: center;
	padding: 10px 0px;
	border:1px solid #eee;
	transition: 0.3s;
	cursor: pointer;
	font-size: 16px;
}
.tabs li.active{
	background: #eee;
}
.tab-content{
	display: none;
	min-height: 275px;
}
.tab-content.active{
	display: block;
}
.header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	width: 100%;
	height: 77px;
	padding: 0 15px;
	background: #fff;
	box-shadow: 0 5px 5px 0 rgba(130,130,130,.15);
}
.header .menu{
	margin-top: 5px;
}
.header .menu li{
	display: inline-block;
}

img.leaflet-marker-icon{
	background: url('../img/bg.png') no-repeat;
	padding: 15px;
	background-position: center;
    background-size: contain;
}

.informationBox{
	max-width: 500px;
	min-width: 200px;
    background: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 130px;
    transition: 0.1s;
    right: -500px;
    opacity: 0;
    display: none;
    z-index: 9999;
    left: auto;
}
.informationBox.active{
	right: 10px;
	opacity: 1;
	display:inline-block;
}
.informationBox > h3{
	margin: 0;
	font-size: 20px;
	color: #484d60;
}
.informationBox > p{
	margin-top: 0;
	font-size: 16px;
	color: #de0000;
}
.populationBox{
	margin-top: 30px;
}
.populationBox h3{
	color: #484d60;
}
.population-taginfo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.population-taginfo span{
	display: inline-flex;
	flex-basis: 30%;
	/* width: 30%; */
	background: #e2eaed;
	padding: 7px 5px;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
	margin-bottom: 3px;
}

.population-taginfo span i{
	display: inline-block;
	color: #de0000;
	margin-right: 8px;
}
.population-taginfo span p{
	display: inline-block;
	margin: 0;
	font-weight: 100;
	font-size: 15px;
}

.cateories-box{

}
.cateories-box h3{
	color: #484d60;
	font-size: 15px;
}

.categories-scroll{
	/*height: 250px;*/
	overflow: auto;
	border-left: 3px solid #de0000;
}
.categories-scroll .cat-row{
	padding: 0 10px;
	border-bottom: 1px solid #cecaca;
	padding-bottom: 10px;
}
.categories-scroll .cat-row p{
	margin-bottom: 0;
}
.categories-scroll .cat-row li{
	display: block;
	padding-left: 15px;
	font-weight: 100;
}
.information-collapse{
	display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
	top: 85px;
	border-radius: 5px;
    right: 10px;
	z-index: 9999;
	background: #fff;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);
	cursor: pointer;
}
.information-collapse .bar{
	width: 30px;
    height: 3px;
    border-radius: 4px;
    background: #de0000;
    transition: 0.1s;
    position: relative;
    display: inline-block;
}
.information-collapse .bar:before{
	content: "";
    width: 30px;
    height: 3px;
    background: #de0000;
    border-radius: 4px;
    position: absolute;
    top: -7px;
    right: 0;
    transition: 0.1s;
}
.information-collapse .bar:after{
	content: "";
    width: 30px;
    height: 3px;
    background: #de0000;
    border-radius: 4px;
    position: absolute;
    bottom: -7px;
    right: 0;
    transition: 0.1s;
}
.information-collapse .bar.active{
	background: transparent;
}
.information-collapse .bar.active:before{
	transform: rotate(30deg);
    top: 0;
}
.information-collapse .bar.active:after{
	transform: rotate(-30deg);
    top: 0;
}

.filterBox{
	width: 480px;
    background: #fff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 250px;
	transition: 0.1s;
	z-index: 9999;
	/*left: 0px;*/
  left: -480px;
  padding-bottom: 30px
	/*display:none;*/
}
.filterBox.active{
	left: 0;
	/*display:block;*/
}
.drop-select{
	display:none;
	/*display: flex;*/
	flex-direction: row;
}
.drop-select select{
	border:1px solid #cecece;
	display: inline-block;
	width: 50%;
	flex-grow: 1;
	flex-basis: 50%;
	margin: 0;
	height: 43px;
	border-top: 0;
	padding: 0 10px;
}
.drop-select select:first-of-type{
	border-left: 0;
	border-right: 0;
}
.drop-select select:last-of-type{
	border-right: 0;
}

.filterBox .checkerArea{
	padding: 30px;
	height: 250px;
    overflow: auto;
}
.filterBox .checkerArea h3{
	margin-top: 0;
	color: #484c62;
}
.checkerArea .type-check-sec{
	margin-bottom: 10px;
}
.checkerArea .type-check-sec .main{
	padding-left: 0;
}
.checkerArea .type-check-sec label{
	list-style: none;
	display: block;
	padding-left: 22px;
}
.type-check-sec label input{
	display: inline-block;
}
.type-check-sec label p{
	display: inline-block;
	margin: 0;
	margin-bottom: 8px;
	margin-left: 5px;
	color: #484d60;
	font-size: 15px;
}
.filter-collapse{
	position: absolute;
	background: #de0000;
	width: 43px;
	height: 43px;
	top: 0;
	right: -43px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);
}
.filter-collapse i{
	color: #fff;
	font-size: 13px;
	transition: 0.1s;
}

.filter-collapse.active i{
	transform: rotate(180deg);
}
.leaflet-control-layers-expanded{
	position: relative;
	top: 45px;
}

.checkerArea .scroll-check{
	/* height: 250px;
	overflow: auto; */
}
.marker-cluster-small {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(241, 128, 23, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(241, 128, 23, 0.6);
  }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
  }

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(253, 156, 115);
  }
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(241, 128, 23);
  }

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(253, 156, 115);
  }
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(241, 128, 23);
  }

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
  }
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.leaflet-control-search.search-load .search-input {
  background: url('../img/loaderSrch.gif') no-repeat center right #fff;
}

.leaflet-control-search .search-cancel {
  background: url('../img/search-icon.png') no-repeat 0 -46px;
}

.leaflet-control-search .search-button {
  background: url('../img/search-icon.png') no-repeat 4px 4px #fff;
}

.leaflet-control-search .search-button:hover {
  background: url('../img/search-icon.png') no-repeat 4px -20px #fafafa;
}